#game {
    width: 640px;
    height: 480px;
    position: relative;
    border: 2px solid black;
}

canvas {
    width: 640px;
    height: 480px;
    position: absolute;
}

#face {
    z-index: 3;
}

#main {
    z-index: 2;
}

#back {
    z-index: 1;
}